.slides{
  position: relative;
  height:200px;
  padding: 20px;
}

.slides div{
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
	height: 200px;
}

.slides .top{
	z-index: -1;
}